<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otopark.Properties.Settings.TrafikCezaConnectionString"
            connectionString="Data Source=DESKTOP-4I9L00G\SQLEXPRESS;Initial Catalog=TrafikCeza;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Otopark.Properties.Settings.OtoparkConnectionString"
            connectionString="Data Source=DESKTOP-4I9L00G\SQLEXPRESS;Initial Catalog=Otopark;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>